@import url('https://fonts.cdnfonts.com/css/libre-baskerville');
@import url('https://fonts.cdnfonts.com/css/league-spartan');

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #FEFAE0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #DDA15E;
  border: 1px solid #DDA15E;
  opacity: 0.7;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #BC6C25;
}

.center {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headContainer {
  width: 100dvw;
  height: 35rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#headImg {
  width: 100vw;
  height: 100vh;
  margin-top: -15rem;
  filter: brightness(0.8) blur(2px);
}

#headContainer h3, #titleContainer {
  position: absolute;
  color: #FEFAE0;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#titleContainer {
  display: flex;
  justify-content: center;
  border: 3px #FEFAE0 solid;
  width: 50rem;
  height: 10rem;
  left: 0;
  right: 0;
  top: -30%;
  bottom: 0;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

#titleContainer h1 {
  font-size: 4.8rem;
  font-family: "League Spartan";
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#titleContainer h2 {
  font-size: 1.3rem;
  font-family: 'libre baskerville';
}

#welcome {
  font-family: 'libre baskerville';
  font-style: italic;
}

#gameContainer {
  margin-top: 1rem;
  width: 100vw;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

#gameTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 3rem;
  margin-top: 20rem;
}

#gameTitle {
  font-family: 'libre baskerville';
  font-weight: bolder;
  color:#283618;
  font-size: 2.6rem;
}

#gameBorder {
  border: 4px #BC6C25 solid;
  width: 70rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
}

.gameBox {
  width: 25rem;
  height: 3rem;
  text-align: center;
  font-family: "League Spartan";
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 3px solid #606C38;
  border-radius: 20px;
}

#gameColumnA, #gameColumnB {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

#gameSpacer {
  width: 10rem;
}