@import url('https://fonts.cdnfonts.com/css/libre-baskerville');
@import url('https://fonts.cdnfonts.com/css/league-spartan');

* {
  transition: all 0.4s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #FEFAE0;
}

p {
  font-family: "League Spartan";
  font-size: 1.5rem;
  font-weight: 530;
}

h1 {
  font-family: "League Spartan";
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #DDA15E;
  border: 1px solid #DDA15E;
  opacity: 0.7;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #BC6C25;
}

.center {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headContainer {
  width: 100dvw;
  height: 60rem;
  overflow: hidden;
  margin-top: 0;
  padding: 0;
  border: 0;
}

#headImg {
  width: 100vw;
  height: 100vh;
  margin-top: -5rem;
  filter: brightness(0.8) blur(1px);
  transition: all 0s ease-in-out;
}

#headContainer h3,
#titleContainer {
  position: absolute;
  color: #FEFAE0;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#titleContainer {
  display: flex;
  justify-content: center;
  border: 3px #FEFAE0 solid;
  width: 40rem;
  height: 10rem;
  left: 0;
  right: 0;
  top: -30%;
  bottom: 0;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#titleContainer h1 {
  font-size: 4.8rem;
  font-family: "League Spartan";
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#titleContainer h2 {
  font-size: 1.3rem;
  font-family: 'libre baskerville';
}

#welcome {
  font-family: 'libre baskerville';
  font-style: italic;
}

.doubleContainer {
  display: flex;
}

.doubleContainerVideos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container {
  margin: 40px;
  margin-bottom: 0px;
  border-color: #DDA15E;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  margin-top: 0%;

  padding: 40px;
  line-height: 1.7;

  transition: transform 0.5s ease;

}

.funContainer {
  border-color: #DDA15E;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;

  max-width: 300px;
  padding: 20px;
  margin: 40px;
  transition: transform 0.5s ease;
}

.funContainer:hover {
  transform: scale(1.2);
}

.text_container:hover {
  transform: scale(1.05);
}

.Youtubevideo {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 40px;
  width: 50vw;
  height: 40vh;

}

.IntructionText {
  font-family: "League Spartan";
  font-size: 70px;
  margin-left: 40px;
}

.gallery-container {
  overflow: hidden;
  width: 100%;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;

  width: 90vw;
  height: max-content;
  margin: 40px;
}

.gallery img {
  width: 100%;
  height: auto;
}

/* Keyframe animation for sliding */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Class to trigger sliding animation */
.sliding {
  animation: slide 5s infinite alternate;
  /* Adjust the duration as needed */
}

#pozaIcoana {
  margin: 60px;
}
#gameContainer {
  margin-top: 1rem;
  width: 100vw;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

#gameTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 3rem;
  margin-top: 3rem;
}

#gameTitle {
  font-family: 'libre baskerville';
  font-weight: bolder;
  color:#283618;
  font-size: 2.6rem;
}

#gameBorder {
  border: 4px #BC6C25 solid;
  width: 70rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
}

.gameBox {
  width: 25rem;
  height: 3rem;
  text-align: center;
  font-family: "League Spartan";
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 3px solid #606C38;
  border-radius: 20px;
}

#gameColumnA, #gameColumnB {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

#gameSpacer {
  width: 10rem;
}

.gameCorrect {
  border: 5px solid #283618;
  background-color: #606C38;
  color:#FEFAE0;
  opacity: 0.5;
  transform: scale(0.8);
}

.gameIncorrect {
  border: 5px solid #BC6C25;
  background-color: #DDA15E;
  color:#FEFAE0;
  opacity: 1;
  transform: scale(1.1);
}

.lineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  
}

.lineContainer div {
  width: 90dvw;
  height: 2px;
  background-color: #DDA15E;
}